<div class="Header">
  <div class="headCont">
    <h1 style="font-family:Inria Sans;"><%= image_tag("Vector1.png") %> <%= image_tag("Maze.png") %></h1>
  </div>

  <div class="place">
    <input class="form-control" placeholder="Search for something here..."/>
  </div>
</div>

<div class="Main_Body">
<%= render "form", article: @article %>
<%# redirect_to root_path %>

  <div class="editlink"><%= link_to 'Cancel Edit', articles_path %></div>
</div>
